<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capacitor PWA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor PWA</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="takePicture()" expand="block">
      <ion-icon name="camera" slot="start"></ion-icon>
      Capture image
    </ion-button>
  
    <ion-img *ngIf="myImage" [src]="myImage"></ion-img>
  </div>
</ion-content>
